@media only screen and (max-width: 768px) {
  #us {
    position: static;
    margin-top: 200px;
    margin-bottom: 80px;
    height: 10px;
  }
  #our {
    position: static;
  }
  #tes {
    position: static;
    height: 10px;
  }
  #faq {
    position: static;
  }

  /* ============================== */

  .offcanvas {
    width: 200px;
  }
  .hovernav {
    width: 120px;
    padding: 5px;
  }
  .atas {
    height: 625px;
  }
  .judul {
    margin-top: 20px;
  }
  .bawahjudul {
    width: 300px;
  }
  .ourservice {
    margin-top: 60px;
  }
  .gambarmobil {
    position: static;
    width: 100%;
    margin-right: 0px;
  }
  .gambarorang {
    position: static;
    width: 300px;
    height: 280px;
  }
  .deskripsi1 {
    position: static;
    width: 100%;
  }
  .deskripsi1 .isi {
    width: 100%;
  }
  .deskripsi1 .isi p {
    width: 100%;
  }
  .deskripsi1 .isi ul {
    margin-top: 50px;
  }
  .deskripsi1 .isi ul li p {
    width: 100%;
  }
  .whyus {
    margin-top: 0px;
    height: auto;
  }
  .whyus h1 {
    text-align: center;
  }
  .whyus p {
    text-align: center;
  }
  .whyus .list .col {
    margin-top: 20px;
  }
  .whyus .list p {
    text-align: left;
    width: 100%;
  }
  .testi .isi {
    position: static;
    width: 100%;
    height: 372px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }
  .testi .isi .gambar1 {
    position: static;
  }
  .testi .isi .gambar1 i {
    position: static;
    font-size: 12px;
  }
  .testi .isi .gambar2 {
    position: static;
  }
  .testi .isi .t1 {
    position: static;
    width: 100%;
    height: auto;
  }
  .testi .isi .t2 {
    position: static;
    width: 100%;
  }
  .cta {
    margin-top: 50px;
    height: 400px;
  }
  .cta h1 {
    font-size: 25px;
    width: 200px;
  }
  .cta p {
    width: 200px;
  }
  .faq h1 {
    text-align: center;
    font-size: 22px;
  }
  .faq p {
    text-align: center;
    font-size: 12px;
  }
  .footer {
    margin-top: 50px;
  }
  .footer .colom1 p {
    width: 300px;
  }
  .footer .colom2 .list {
    position: static;
  }
  .footer .colom4 .isi {
    margin-top: 15px;
    position: static;
  }
}
